.container {
  background-color: rgb(16, 112, 98);
}

/* SECTION 1 */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ulist {
  display: flex;
  flex-direction: row;
}

.logo {
  color: rgb(206, 203, 203);
  font-size: 2rem;
  margin-right: 10rem;
}

.ulist {
  list-style: none;
}

li {
  color: aliceblue;
  margin-right: 3rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

/* SECTION 2 */
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.header1 {
  color: antiquewhite;
  font-size: 3rem;
}

.first-div {
  width: 400px;
  margin-right: 3rem;
}

.img1 {
  max-width: 500px;
}

.btn1 {
  background-color: antiquewhite;
  padding: 0.7rem 4rem;
  border-radius: 5px;
  color: rgb(31, 28, 28);
  font-size: 1rem;
}
